<h3>Lists index</h3>

<ul>
  <ol>
    <% @lists.each do |list| %>
    <li><%= link_to list.name , list %>
        <% if list.image.attached? %>
          <%= cl_image_tag(list.image.key, width: 40) %>
        <% end %>
      </li>
    <% end %>
  </ol>
</ul>
<%= link_to "Create New List", new_list_path %>
