<h3>Lists index</h3>

<ul>
  <ol>
    <% @lists.each do |list| %>
    <li><%= link_to list.name , list %> <img src="<%= list.image_url %>" width="100" height="50"></li>
    <% end %>
  </ol>
</ul>
<%= link_to "Create New List", new_list_path %>
